/*
  Inspired by Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

:root {
  /* Using Roboto font as reference, adjust when using other fonts */
  --fs-900: 4.209rem;
  --fs-800: 3.157rem;
  --fs-700: 2.369rem;
  --fs-600: 1.777rem;
  --fs-500: 1.333rem;
  --fs-400: 1rem; /* Base */
  --fs-300: 0.75rem;
  --fs-200: 0.563rem;
  --fs-100: 0.422rem;

  --fw-900: 900;
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400; /* Base */
  --fw-300: 300;
  --fw-100: 100;

  /* adjust colors as needed */
  --clr-accent: hsl(245, 45%, 50%); /* 10% call for accion */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(220, 53%, 97%); /* Base, 60%  background and stuff */
  --clr-neutral-500: hsl(197, 16%, 92%);
  --clr-neutral-900: hsl(0, 0%, 0%);
  --clr-primary: hsl(245, 66%, 41%); /* 30%  main color, brand color */

  --shw-x-offset: 2px;
}

*,
::after,
::before {
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem); /* not in body because ems don't inherit well */
  margin: 0;
}

html {
  font-size: var(--fs-400);
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@supports (font-size-adjust: 1) {
  body {
    font-size-adjust: 0.5;
  }
}

h4 {
  font-size: var(--fs-600);
}
h3 {
  font-size: var(--fs-700);
}
h2 {
  font-size: var(--fs-800);
}
h1 {
  font-size: var(--fs-900);
}

p,
li,
dt,
dd,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

:where(ul[class], ol[class]) {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Utilities */
.container {
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 1rem);
}

.shadow {
  box-shadow: var(--shw-x-offset) calc(var(--shw-x-offset) * 2)
    calc(var(--shw-x-offset) * 2) hsl(0deg 0% 0% / 0.5);
}

/* Create a root stacking context */
/* This needs to be adjusted to meet the js framework being used. */
#app,
#root,
#__next {
  isolation: isolate;
}

/* Your styles */
